@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

  :root{
    --ff-inter: 'Inter', sans-serif;
    --ff-indieflower: 'indie flower', sans-serif;
    --ff-imprima: 'imprima', sans-serif;
    --fw-normal: 400;
    --fw-bold: 700;
    --clr-lemon-yellow: #ffec09;
    --clr-light-orange: #FFE1B5;
    --clr-mid-orange: #FFCB82;
    --clr-black: #000;
    --clr-white: #fff;
  }

  *,
  *::before
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    display: block;
  }

  html {
    font-family: var(--ff-inter);
    font-weight: var(--fw-bold);
  }

  body {
   padding-top: 60px;
   margin: 0; 
  }

  h1,
  h2 {
    color: var(--clr-black);
  }

  header {
    position: fixed;
    top: 0;
    bottom: 10;
    width: 98%;
    background-color: rgb(255, 255, 255); 
    display: flex;
    align-items: center;
    padding: 0.1rem 1rem;
    border-bottom: 0.063rem solid #000;
  }

  header img {
    width: 3.688rem;
    height: 3.563rem; 
  }

  .logo-text h1 {
    margin: 0rem;
    color: #000;
    font-size: 1rem; 
    font-weight: 43.75rem; 
    font-family: "Inter", sans-serif; 
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"slnt" 0;
  }

  .logo-text a {
    color: #000;
    text-decoration: none;  
  }

  nav {
    flex: 1;
    text-align: center; 
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block; 
  }

  nav ul li {
    display: inline-block;
    margin-right: 1.25rem;
  }

  nav ul li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  nav ul li a:hover {
    color: #ffd700;
  }

  .icons {
    display: flex;
    align-items: center;
  }

  .cart-icon {
    position: relative;
  }

  .cart-count {
    position: relative;
    top: -0.125rem; 
    right: -0.063rem; 
    color: #000;
    padding: 0.25rem 0.25rem;
    font-size: 0.75ren;
    font-weight: bold;
  }

  .icons a {
    margin-left: 1.25rem; 
  }

  .icons img {
    width: 1.536rem;
    height: 1.563rem; 
  }
  /* --------- PAYMENT METHOD---------- */
.paymentmode {
    display: flex;
    margin-top: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: var(--clr-light-orange);
    border: 1px solid var(--clr-black);
    border-radius: 0.625rem;
    padding: 1rem;
    justify-content: center;
    gap: 2rem;
    box-shadow: 2px 1px 10px -1px var(--clr-black);
    height: 70vh;
  }
  
  .payment-left-dis {
    border-color: #000000;
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin: 0 auto;
  }
  
  .payment-right-dis {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 203, 130);
    padding: 1rem;
    width: 40rem;
    border: 1px solid #000;
    border-radius: 0.625rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .outer-box-paymode {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .payment-option {
    border: 1px solid #000; 
    width: 90%;
    background: white;
    border-radius: 0.625rem;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .payment-option label {
    width: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-right: 30.5rem;
  }
  
  .payment-option label img {
    width: 80px; 
    height: auto; 
    margin-right: 10px; 
  }
  
  .payment-option input {
    display: none;
  }
  
  .payment-option label::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    border: 1px solid #000;
    border-radius: 0.50rem;
    background-color: #fff;
  }
  
  .payment-option input:checked + label::after {
    background-color: #ffffff;
    border-color: #000000;
    content: '✔';
    color: #000000;
    text-align: center;
    line-height: 2rem;
  }
  
  .total-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .total-amount {
    text-align: center;
    background: rgb(255, 203, 130);
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 0.625rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    margin-top: 10px;
    width: 100%;
    background: rgb(255, 203, 130);
    border: 1px solid #000;
    border-radius: 0.625rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  